apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: arr-stack
  namespace: argocd
spec:
  generators:
    # Git directory generator - creates an Application for each environment
    - git:
        repoURL: https://github.com/mfalicoff/argotest.git # UPDATE THIS
        revision: main
        directories:
          - path: environments/*

  template:
    metadata:
      name: "arr-stack-{{path.basename}}"
      namespace: argocd
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: default

      source:
        repoURL: https://github.com/mfalicoff/argotest.git # UPDATE THIS
        targetRevision: master
        path: arr-stack
        helm:
          valueFiles:
            - values.yaml
            - ../{{path}}/values.yaml

      destination:
        server: https://kubernetes.default.svc
        namespace: "media-{{path.basename}}"

      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
          - CreateNamespace=true
          - PrunePropagationPolicy=foreground
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m

---
# Alternative: Use a list generator for explicit control
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: arr-stack-list
  namespace: argocd
spec:
  generators:
    - list:
        elements:
          - environment: production
            namespace: media
            domain: local.mazilious.org
            autoSync: "true"
          - environment: staging
            namespace: media-staging
            domain: staging.local.mazilious.org
            autoSync: "false"

  template:
    metadata:
      name: "arr-stack-{{environment}}"
      namespace: argocd
      finalizers:
        - resources-finalizer.argocd.argoproj.io
    spec:
      project: default

      source:
        repoURL: https://github.com/mfalicoff/argotest.git # UPDATE THIS
        targetRevision: master
        path: arr-stack
        helm:
          valueFiles:
            - values.yaml
            - ../environments/{{environment}}/values.yaml
          parameters:
            - name: ingress.domain
              value: "{{domain}}"

      destination:
        server: https://kubernetes.default.svc
        namespace: "{{namespace}}"

      syncPolicy:
        automated:
          prune: "{{autoSync}}"
          selfHeal: "{{autoSync}}"
          allowEmpty: false
        syncOptions:
          - CreateNamespace=true
          - PrunePropagationPolicy=foreground
        retry:
          limit: 5
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m
